* {
	border: none;
	border-radius: 0;
    font-family: "Ubuntu" ;
	font-size: 15px;
	min-height: 10px;
}
window#waybar {
	background: #000000;
}
#cava{
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    background: #000000; 
    color: #c5788a;
    transition: 0.3s; 
}
#cava:hover{
    color: #000000;
    background: #c5788a;
}
#battery{
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    background: #000000; 
    color: #c5788a;
    transition: 0.3s; 
}
#battery:hover{
    color: #000000;
    background: #c5788a;
}
#backlight:hover{
    color: #000000;
    background: #c5788a;
}
#backlight{
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    background: #000000; 
    color: #c5788a;
    transition: 0.3s; 
}
#pulseaudio {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    background: #000000; 
    color: #c5788a;
    padding: 8px;
    transition: 0.3s;
}
#pulseaudio:hover{ 
    background: #c5788a;
    color: #000000;
}
#pulseaudio.muted {
    color: #e81123;
    background: #000000; 
    transition: 0.3s;
}
#pulseaudio.muted:hover {
    background: #e81123;
    color: #000000; 

}
#clock {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    background: #000000; 
    color: #c5788a;
    transition: 0.3s;
}
#clock:hover {
    color: #000000; 
    background: #c5788a;
}
#disk{
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    background: #000000; 
    color: #c5788a;
    transition: 0.3s;
}
#disk:hover{
    color: #000000; 
    background: #c5788a;
}
#memory {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-right: 10px;
    border-radius: 2px;
    transition: none;
    background: #000000; 
    color: #c5788a;
    transition: 0.3s;
}
#memory:hover { 
    color: #000000; 
    background: #c5788a;

}
#cpu {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 2px;
    transition: none;
    background: #000000; 
    color: #c5788a;
    transition: 0.3s;
}
#cpu:hover {
    color: #000000; 
    background: #c5788a;

}
#workspaces {
    margin-top: 2px;
    margin-left: 8px;
    padding-right: 4px;
    margin-bottom: 2px;
    background: #000000; 
    color: #c5788a;
    transition: 0.3s;
}
#workspaces button {
    color: #c5788a;
    transition: 0.3s;
}
#workspaces button:hover {
    background: transparent;
    color: transparent;
}
#tray{
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    background: #000000; 
    color: #c5788a;
    transition: 0.3s;
}
#tray menu{
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 2px;
    transition: none;
    background: #000000; 
    color: #c5788a;
    transition: 0.3s;
}