// niriiiiiii

// i removed the comments bc too clutter

spawn-at-startup "xwayland-satellite"
spawn-at-startup "swayosd-server"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

input {
    keyboard {
        xkb {}
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }
}

// i cant figure this out so fml ig
output "eDP-1" {
    mode "2560x1440@165.0"
    scale 1.5
    transform "normal"
    position x=0 y=0
}
output "HDMI-A-1" {
    mode "1920x1080@59.936"
    scale 1.0
    transform "normal"
    position x=1080 y=0
}


layout {
    empty-workspace-above-first

    background-color "#050304"
    gaps 0
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }

    focus-ring {
        off
        width 2
        active-color "#c1558e"
        inactive-color "#050304"
    }

    border {
        off
        width 2
        active-color "#c1558e"
        inactive-color "#858585"
        urgent-color "#050304"
    }

    shadow {
        // on
        draw-behind-window true
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

overview {
    backdrop-color "#050304"
}

environment {
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    DISPLAY ":0"
    XCURSOR_THEME "Catppuccin Mocha Pink"
    XCURSOR_SIZE "24"
}

hotkey-overlay {
    skip-at-startup
}

cursor {
    xcursor-theme "Catppuccin Mocha Pink"
    xcursor-size 24
}

animations {}

window-rule {
    open-maximized true
    geometry-corner-radius 0
    clip-to-geometry true
}


window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}


// i literally do not have a need for stacking multiple windows into one column.
// as such, this functionality has been removed.
// windows are just way too small for a typical 16:9 1920x1080 - 2560x1440 monitor
// if this is something you need, maybe don't copy my binds
// note: these binds differ significantly from the standard niri workflow
binds {

    // basic
    Mod+Shift+P { quit; }
    Mod+Escape                  allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+O repeat=false          { toggle-overview; }
    Mod+Q                       { close-window; }
    Mod+Shift+Slash             { show-hotkey-overlay; }


    // quick launch
    Mod+S                       hotkey-overlay-title="System Menu" { spawn "rofi-system-menu"; }
    Mod+D                       hotkey-overlay-title="Application Launcher" { spawn "rofi" "-show" "drun"; }
    Mod+L                       hotkey-overlay-title="Lock Screen" { spawn "swaylock"; }
    Mod+Return                  hotkey-overlay-title="Terminal" { spawn "alacritty"; }
    Mod+A                       hotkey-overlay-title="File Manager" { spawn "nautilus"; }
    Mod+W                       hotkey-overlay-title="Web Browser (firefox)" { spawn "firefox"; }
    Mod+Shift+W                 hotkey-overlay-title="Web Browser (tor)" { spawn "tor-browser"; }


    // movement
    Mod+Up                      { focus-workspace-up; }
    Mod+Down                    { focus-workspace-down; }
    Mod+Left                    { focus-column-left; }
    Mod+Right                   { focus-column-right; }

    Mod+Shift+Up                { move-column-to-workspace-up; }
    Mod+Shift+Down              { move-column-to-workspace-down; }
    Mod+Shift+Left              { move-column-left; }
    Mod+Shift+Right             { move-column-right; }

    Mod+Ctrl+Left               { focus-monitor-left; }
    Mod+Ctrl+Right              { focus-monitor-right; }
 
    Mod+Shift+Ctrl+Left         { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right        { move-column-to-monitor-right; }

    Mod+Shift+Ctrl+Up           { move-workspace-up; }
    Mod+Shift+Ctrl+Down         { move-workspace-down; }

    Alt+Left                    { focus-column-first; }
    Alt+Right                   { focus-column-last; }
    Alt+Shift+Left              { move-column-to-first; }
    Alt+Shift+Right             { move-column-to-last; }


    // sizing
    Mod+R                       { switch-preset-column-width; }
    Mod+F                       { maximize-column; }
    Mod+Shift+F                 { fullscreen-window; }
    Mod+Ctrl+F                  { expand-column-to-available-width; }

    Mod+C                       { center-column; }
    Mod+Ctrl+C                  { center-visible-columns; }

    Mod+V                       { toggle-window-floating; }
    Mod+Shift+V                 { switch-focus-between-floating-and-tiling; }


    // misc
    Print                       { screenshot; }
    Ctrl+Print                  { screenshot-screen; }
    Alt+Print                   { screenshot-window; }

    XF86AudioLowerVolume        { spawn-sh "swayosd-client --output-volume lower"; }
    XF86AudioRaiseVolume        { spawn-sh "swayosd-client --output-volume raise"; }
    XF86AudioMute               { spawn-sh "swayosd-client --output-volume mute-toggle"; }
    XF86AudioMicMute            { spawn-sh "swayosd-client --input-volume mute-toggle"; }
    
    XF86MonBrightnessDown       { spawn-sh "swayosd-client --brightness lower"; }
    XF86MonBrightnessUp         { spawn-sh "swayosd-client --brightness raise"; }
    Shift+XF86MonBrightnessDown { spawn-sh "swayosd-client --brightness 0"; }
    Shift+XF86MonBrightnessUp   { spawn-sh "swayosd-client --brightness 100"; }

}
